body{
  padding: 0;
  margin: 0;
}

.div_global{
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.div_principal{
  height: 500px;
  width: 70%;
  background-color: blue;
  padding: 15px;
}

input{
  height: 20px;
  width: 300px;
  margin-bottom: 10px;
}

.div_pai_formulario{
  display: flex;
}

.div_formulario{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
}
